<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Projects!</h1>
        <% suggestions.forEach(suggestion => { %>
            <div>
                <h1><%= suggestion.title %></h1>
                <p><%= suggestion.status %></p>
                <p><%= suggestion.comment %></p>
                <p><%= suggestion.created_by %></p>
                <p><%= suggestion.last_edited_by %></p>
            </div>
        <% }) %>
    </div>
</body>
</html>